.MainContainer {
    width: 24.8%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(167, 157, 157, 0.5);
    backdrop-filter: blur(8px);
    border-bottom-right-radius: 4px;
    padding: 24px;
    display: flex;
    justify-content: space-around;
}

.SocialHandleIconContainers {
    text-decoration: none;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}