.MainContainer {
    height: 8%;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 3px solid #CDCDCB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.LeftHeader{
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.Logo{
    margin-right: 100px;
    font-style: oblique;
}

.MenuItems a{
    margin: 1px 12px;
    padding: 0 8px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    color: grey;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    border: 0.2em solid transparent;
}

/* .MenuItems a:hover::after{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 0.1em;
    height: 100%;
    background-color: #D87647;
    transition: all 0.3s ease;
}

.MenuItems a:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 0.1em;
    height: 100%;
    background-color: #D87647;
    transition: all 0.3s ease;
} */

.MenuItems a:hover {
    border-left: 0.2em solid #D87647;
    border-right: 0.2em solid #D87647;
    transition: all 0.5s ease;
}

.CreateButton{
    background-color: #D87647;
    border: 1px solid #BD6B30;
    padding: 8px 13px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    outline: none;
}
