@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');
body{
    margin: 0;
    background-color: #EEEEEC;
    background: linear-gradient(30deg, #E7E6E4, #FCFCFC);
    /* background: linear-gradient(30deg, #E7E6E4, #fff) */
}

.Body {
    height: 100vh;
    box-sizing: border-box;
}

.MainContainer {
    position: relative;
    top: 8%;
    height: 92%;
    box-sizing: border-box;
    padding: 0px 6%;
}