.MainContainer {
    padding: 12px;
    height: 32%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 12px rgba(255, 255, 255, 1);
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.MainText {
    margin: 24px 0 12px 0;
    font-weight: 700;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.7);
}

.DescriptionText {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5px;
    font-style: italic;
}

.DescriptionText

.DescriptionText::first-letter {
    color: #ff0000;
    font-size: 24px
}