.MainDiv{
    width: 100%;
    box-sizing: border-box;
    margin-top: 80px;
    /* padding: 50px 0px; */
}
.Overlay{
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    display: none;
}
.ImageWrapperDiv{
    width: 80%;
    height: 100%;
    background: transparent;
    box-shadow: 0px 0px 8px black;
    overflow-y: scroll;
}
.ImageWrapperDiv img{
    width: 100%;
}
.ImageActive{
    display: flex;
}
.Greeting{
    margin: 0;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: oblique;
}
.TemplatesDiv{
    width: 100%;
    box-sizing: border-box;
    height: 500px;
    background-color: #fff;  
    margin-top: 50px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px 24px;
}
.TemplateIndividual{
    width: 100%;
    height: fit-content;    
    /* border: 1px solid pink; */
    color: black;

}
.TemplateIndividual p{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 20px;
}
.ImageDiv{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.image{
    width: 24%;
    height: 300px;
    opacity: 01;
    border-radius: 6px;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    box-sizing: border-box;
    overflow: visible;
}
::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 6px;
}
